---
import ProjectCard2 from "@/components/ProjectCard2.astro";
import Separator from "@/components/ui/Separator.astro";
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";
import Link from "@/components/ui/Link.astro";

const projects = await getCollection("projects");
---

<Layout
	title="Project Portfolio | Jesús Ocanto"
	description="Explore my latest work in full-stack development, ranging from robust backend systems to polished, responsive frontend interfaces.">
	<main class="flex flex-col gap-20 mt-10 px-6 sm:px-0 mb-20">
		<div>
			<h1
				class="text-4xl sm:text-6xl md:text-8xl lg:text-display-lg leading-none mb-6 tracking-tighter uppercase"
				>PROJECTS <br /> & <br /> EXPERIENCES</h1
			>
			<Separator />
		</div>
		<div class="flex flex-col gap-24 md:gap-32">
			{
				projects.map((project, i) => (
					<ProjectCard2
						title={project.data.title}
						number={i + 1}
						techs={project.data.techs}
						github={project.data.github}
						description={project.data.description}
						imageUrl={project.data.imageUrl}
						slug={project.id}
					/>
				))
			}
		</div>
		<Separator />
		<div class="flex flex-col gap-8 text-center py-10">
			<span class="uppercase tracking-widest opacity-60">Have a project?</span>
			<h4
				class="text-5xl md:text-8xl lg:text-display-lg font-bold uppercase tracking-tighter leading-none"
				>Let's work together</h4
			>
			<div class="flex justify-center mt-4">
				<Link href={"/contact"}>Contact</Link>
			</div>
		</div>
	</main>
</Layout>
